* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    background-color: #193041;
    color: white;
    padding: 15px;
    text-align: right;
}
.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #081b29;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar h2{
    font-size: 15px;
    margin-left: 111px;
    margin-top: 10px;
    color: #0ef;
}
.sidebar h4{
    font-size: 15px;
    margin-left: 111px;
    font-family: serif;
}
.sidebar a{

        display: inline block;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        font-weight: 35px;
        text-align: left;
        padding: 10px;
        margin: 7px;    
}
.sidebar a:hover{
    background-color: #0ef;
}
.sidebar_img{
    height: 80px;
    width: 80px;
    margin-left: 90px;
    margin-top: 5px;
}
.sidebar_logo{
    height: 40px;
    width: 100px;
}
.content {
    flex: 1;
    margin-left: 250px;
    padding: 15px;
}

.footer {
    background-color: #193041;
    color: white;
    text-align: center;
    padding: 12px;
}
.header i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 15px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
   
}
.header i:hover{
    background: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

.dropbtn {
    background-color: #193041;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn img{
    height: 30px;
    width: 30px;
  }
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        text-align: center;
    }

    .content {
        margin-left: 0;
    }
}
